body{
  background-color: #F5FFE2;
}

nav{
  display: flex;
  justify-content: space-around;
  background-color: #E3FCBB;
  padding: 25px;
  font-family: 'Roboto Mono', monospace;
}

.link{
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
  color: black;
  text-transform: uppercase;
}

.people{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  font-family: 'Roboto Mono', monospace;
}

.one{
  padding: 2%;
  flex-grow: 1;
  flex-basis: 16%;
}

.two{
  background-color: #DEFF3D;
  font-size: 20px;
  font-family: 'Roboto Mono', monospace;
}

.three{
  background-color: #E3FCBB;
  font-size: 20px;
  font-family: 'Roboto Mono', monospace;
}

.four{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.five{
  display: flex;
  align-items: center;
}

.six{
  background-color: #DEFF3D;
  padding: 10px;
  border: none;
}

button {
  margin: 10px;
  }

.green{
  background-color: #DEFF3D;
  padding: 10px;
  border: none;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
}

.cont {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.text{
  display: flex;
  justify-content: center;
  margin: 30px;
}

.bigText{
  background-color: #E3FCBB;
  font-family: 'Roboto Mono', monospace;
}

@media all and (max-width: 800px){
  img{
    width: 350;
  }

  .four{
    flex-direction: column;
  }

  .five{
    margin-top: 30px;
    margin-left: 300px;
  }
}

@media all and (max-width: 500px){
  
  .five{
    margin-top: 30px;
    margin-left: 150px;
  }

  img{
    width: 200;
  }
}